<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>2.0.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1014.0,952.0}</string>
		<key>name</key>
		<string>Onet Connection</string>
		<key>textureFileName</key>
		<string>OnetConnection.png</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>foodAnimal1.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{152.0,132.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{152.0,132.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{152.0,132.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{736.0,140.0},{152.0,132.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal10.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{168.0,132.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{168.0,132.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{168.0,132.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168.0,386.0},{168.0,132.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal11.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{120.0,156.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{120.0,156.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{120.0,156.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{890.0,128.0},{120.0,156.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal12.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{148.0,140.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{148.0,140.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{148.0,140.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{544.0,2.0},{148.0,140.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal13.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{140.0,144.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{140.0,144.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{140.0,144.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{606.0,452.0},{140.0,144.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal14.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{152.0,136.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{152.0,136.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{152.0,136.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{694.0,2.0},{152.0,136.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal15.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{144.0,148.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{144.0,148.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{144.0,148.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{338.0,307.0},{144.0,148.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal16.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{152.0,148.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{152.0,148.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{152.0,148.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{456.0,670.0},{152.0,148.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal17.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{156.0,128.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{156.0,128.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{156.0,128.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{456.0,820.0},{156.0,128.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal18.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{152.0,148.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{152.0,148.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{152.0,148.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{310.0,520.0},{152.0,148.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal19.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{152.0,124.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{152.0,124.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{152.0,124.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{848.0,2.0},{152.0,124.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal2.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{132.0,144.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{132.0,144.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{132.0,144.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{737.0,598.0},{132.0,144.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal20.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{152.0,140.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{152.0,140.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{152.0,140.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{390.0,2.0},{152.0,140.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal21.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{152.0,120.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{152.0,120.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{152.0,120.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{748.0,448.0},{152.0,120.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal22.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{128.0,136.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{128.0,136.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{128.0,136.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{882.0,286.0},{128.0,136.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal23.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{136.0,152.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{136.0,152.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{136.0,152.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{598.0,144.0},{136.0,152.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal24.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{125.0,156.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{125.0,156.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{125.0,156.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{610.0,598.0},{125.0,156.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal25.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{120.0,152.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{120.0,152.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{120.0,152.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{760.0,274.0},{120.0,152.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal26.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{164.0,148.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{164.0,148.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{164.0,148.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2.0,232.0},{164.0,148.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal27.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{108.0,144.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{108.0,144.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{108.0,144.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{850.0,744.0},{108.0,144.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal28.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{104.0,148.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{104.0,148.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{104.0,148.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{871.0,570.0},{104.0,148.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal29.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{152.0,152.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{152.0,152.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{152.0,152.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2.0,532.0},{152.0,152.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal3.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{152.0,152.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{152.0,152.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{152.0,152.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156.0,532.0},{152.0,152.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal30.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{128.0,152.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{128.0,152.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{128.0,152.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{614.0,756.0},{128.0,152.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal31.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{156.0,141.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{156.0,141.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{156.0,141.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232.0,2.0},{156.0,141.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal32.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{140.0,152.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{140.0,152.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{140.0,152.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{456.0,144.0},{140.0,152.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal33.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{136.0,160.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{136.0,160.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{136.0,160.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318.0,145.0},{136.0,160.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal34.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{136.0,152.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{136.0,152.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{136.0,152.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484.0,298.0},{136.0,152.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal35.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{164.0,148.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{164.0,148.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{164.0,148.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2.0,382.0},{164.0,148.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal36.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{104.0,152.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{104.0,152.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{104.0,152.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{744.0,744.0},{104.0,152.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal4.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{140.0,148.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{140.0,148.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{140.0,148.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464.0,457.0},{140.0,148.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal5.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{152.0,152.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{152.0,152.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{152.0,152.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2.0,686.0},{152.0,152.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal6.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{148.0,152.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{148.0,152.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{148.0,152.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168.0,232.0},{148.0,152.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal7.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{148.0,152.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{148.0,152.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{148.0,152.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306.0,686.0},{148.0,152.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal8.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{148.0,152.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{148.0,152.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{148.0,152.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156.0,686.0},{148.0,152.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>foodAnimal9.png</key>
		<dict>
			<key>spriteSize</key>
			<string>{136.0,148.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{136.0,148.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{136.0,148.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{622.0,298.0},{136.0,148.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
		<key>made-with-zwoptex</key>
		<dict>
			<key>spriteSize</key>
			<string>{228.0,228.0}</string>
			<key>spriteOffset</key>
			<string>{0.0,-0.0}</string>
			<key>spriteSourceSize</key>
			<string>{228.0,228.0}</string>
			<key>spriteSourceColorRect</key>
			<string>{{0.0,0.0},{228.0,228.0}}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2.0,2.0},{228.0,228.0}}</string>
			<key>textureRotated</key>
			<false/>
			<key>aliases</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
